In [1]:
import numpy as np

## Q#1: Create x array with elements equal to 1.

In [70]:
# write your code here ^_^
x = np.ones(5)
x

array([1., 1., 1., 1., 1.])

## Q#2: Create y array with elements equal to 0.

In [73]:
# write your code here ^_^
y = np.zeros(5)
y

array([0., 0., 0., 0., 0.])

## Q#3: Add x and y arrays.

In [75]:
# write your code here ^_^
np.add(x,y)

array([1., 1., 1., 1., 1.])

## Q#4: Print x array characteristics (e.g: dimension, shape, size, type).

In [47]:
# write your code here ^_^
type(x)

numpy.ndarray

## Q#5: Create a 2D array "called w" as the following:

|       |          |
| ----- | -------- |
| 11    | 12       |
| 13    | 14       |
| 15    | 16       |

In [48]:
# write your code here ^_^
w = np.array([[11,12],[13,14],[15,16]])
w

array([[11, 12],
       [13, 14],
       [15, 16]])

## Q#6: Create z array contains the numbers from 1 to 3.

In [49]:
# write your code here ^_^
z = np.array([1, 2, 3])
z

array([1, 2, 3])

## Q#7: Combine the arrays z and w in horizontal way then save it in a new variable "newArray".

In [50]:
# write your code here ^_^
a = np.column_stack((z, w))
a

array([[ 1, 11, 12],
       [ 2, 13, 14],
       [ 3, 15, 16]])

## Q#8: Print all elements of "newArray" using the loop.

In [51]:
# write your code here ^_^
for item in a.flat:
    print(item)

1
11
12
2
13
14
3
15
16

## Q#9: Reverse the columns and rows of "newArray".

In [52]:
# write your code here ^_^
rr = np.flip(a)
print(a)
rr

[[ 1 11 12]
 [ 2 13 14]
 [ 3 15 16]]

array([[16, 15,  3],
       [14, 13,  2],
       [12, 11,  1]])

## Q#10: Decrement all elements of "newArray" with 1.

In [53]:
# write your code here ^_^
a -= 1
a

array([[ 0, 10, 11],
       [ 1, 12, 13],
       [ 2, 14, 15]])

## Q#11: Find smallest and biggest values in "newArray".

In [54]:
# write your code here ^_^
print(a.max())
a.min()

15

0

## Q#12: Print the first row of "newArray" using indexing.

In [66]:
# write your code here ^_^
row = a[0]
row

array([ 0, 10, 11])

### Q#13: Print the number equals 12 of "newArray" using indexing.

In [58]:
# write your code here ^_^
a[1,1]

12

## Q#14: Print the numbers equal 0 and 13 of "newArray" using indexing.

In [61]:
# write your code here ^_^
print(a[0,0],"",a[1,2])

0  13

## Q#15: Change the shape of "newArray" to (9,1).

In [63]:
# write your code here ^_^
arr = a.reshape(9, 1)
print(arr)

[[ 0]
 [10]
 [11]
 [ 1]
 [12]
 [13]
 [ 2]
 [14]
 [15]]

## Q#16: Change the shape of "newArray" to (3,2).

In [ ]:
# write your code here ^_^

# Well Done ðŸŽ‰